/*-- scss:defaults --*/
// Color system
$white:    #F5F6FA !default;
$gray-100: #F4F4F4 !default;
$gray-200: #E9E9E9 !default;
$gray-300: #D3D3D3 !default;
$gray-400: #C7C7C7 !default;
$gray-500: #A6A6A6 !default;
$gray-600: #909090 !default;
$gray-700: #424242 !default;
$gray-800: #373737 !default;
$gray-900: #2C2C2C !default;
$black:    #000 !default;
$blue:    #4455FF !default;
$indigo:  #6610f2 !default; 
$purple:  #CC99CC !default;
$pink:    #CC6699 !default;
$red:     #FF5555 !default;
$orange:  #FF9933 !default;
$yellow:  #FFFF99 !default;
$green:   #33CC99 !default;
$teal:    #20c997 !default; 
$cyan:    #99CCFF !default;
$light-orange: #FFCC66 !default;
$inrae-charte: #00a3a6 !default;
$inrae-sombre: #275662 !default;

$primary:       $orange !default;
$secondary:     $gray-500 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

// Document parameters
$body-bg: #fff;
$body-color: $inrae-sombre;
$link-color: $indigo;
$presentation-heading-color: $inrae-charte;
$presentation-heading-line-height: 1.2;
$presentation-h1-font-size: 1.4em;
$toc-font-size: 1em;

/*-- scss:rules --*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Text Format

.reveal .slide-number-a {
 color: $inrae-sombre;
}

.reveal .slide-number-delimiter {
 color: $inrae-sombre;
}

.reveal .slide-number-b {
 color: $inrae-sombre;
}

.reveal img.slide-logo {
    display: block;
    position: fixed;
    bottom: 0;
    right: 12px;
    max-height: 1.5em;
    height: 100%;
    width: auto;
}

.reveal h1.title {
  background: -webkit-linear-gradient($inrae-sombre, $inrae-charte);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reveal h1 {
  text-align: center;
}

.reveal h2 {
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0); /* shadows */
}

.reveal p {
  color: $inrae-sombre;
}

// Slides

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
}

// Alternative styles
.box1 {
  background-color: rgba(255, 255, 255, 0.5);
  color: $body-color;
  border-radius: 30px;
}

.box2 {
  background-color: rgba(255, 255, 255, 0.5);
  color: $body-color;
  border-radius: 30px;
}


//==========================================================================================================
// Modifs SL

// Taille de police et couleur
.reveal {
  font-size: 36px; /* Taille de base pour le texte */
}

.reveal h1 {
  font-size: 1.5em; /* Taille pour les titres h1 */
}

.reveal h2 {
  font-size: 1.2em; /* Taille pour les titres h2 */
}

.reveal h3 {
  font-size: 1em; /* Taille pour les titres h3 */
  color: #66c1bf !important;
}

.reveal h4 {
  font-size: 0.95em; /* Taille pour les titres h4 */
  color: #423089 !important;
}

.reveal h5 {
  font-size: 0.90em; /* Taille pour les titres h5 */
  color: #6859A1 !important;
}

.reveal p {
  font-size: 0.85em; /* Taille pour 1es paragraphes */
}

.reveal li, .reveal ul, .reveal ol {
  font-size: 0.9em; /* Taille pour 1er niveau de liste */
}

.reveal ul ul, .reveal ol ol {
  font-size: 0.95em; /* Taille pour 2e niveau de liste */
}

// Lignes de code des blocs de code
.reveal .slides code.sourceCode {
  font-size: 0.85em;
  background-color: #E0E0E0; /* Fond gris grey88 */
}

// Output des blocs de code
.reveal .slides pre code {
  font-size: 0.8em;
  background-color: #EDEDED; /* Fond gris grey93 */
}

// Listes à puces
.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin-left: 15px !important; /* Ajuster la marge gauche */
  margin-top: 0px !important;  /* Ajuster l'espace au-dessus */
  margin-bottom: 0px !important; /* Ajuster l'espace en dessous */
  padding-left: 15px !important; /* Ajuster l'indentation des puces */
}

.reveal ol {
	list-style-type: decimal;
}

.reveal ul {
	list-style-type: disc;
}

.reveal ul ul {
	list-style-type: square;
}

.reveal ul ul ul {
	list-style-type: circle;
}

.reveal dt {
	font-weight: bold;
}

.reveal dd {
	margin-left: 40px;
}

.reveal table {
  font-size: 25px !important; /* taille du texte */
  width: 90% !important; /* Ajuste la largeur */
  margin: auto; /* Centre le tableau */
}

.reveal th {
  font-size: 30px !important; /* Taille des en-têtes */
  font-weight: bold;
}

.reveal td {
  font-size: 25px !important; /* Taille des cellules */
}


// Ajuster la taille du texte pour la diapositive de titre 
.reveal .slides section.title-slide h1 {
    font-size: 2em;
	text-align: left;
}

// Titre en blanc pour les diapo "inverse"
.inverse h1 {
   color: white;
 }
 
// Pas de logo pour les slides "background black"
.reveal.has-dark-background .slide-logo {
  display: none !important;
}

// Texte pied de page en blanc pour les slides "background black"
.reveal.has-dark-background .footer {
    color: #ffffff !important;
	background-color: rgba(0, 0, 0, 0.1) !important;
}

//==========================================================================================================
